.lex-404 {
  background-color: $background-blue;
  &__wrap {
    padding: 0 0 80px;
    max-width: 800px;
    margin: auto;
    @media (max-width: 991px) {
      padding: 0 0 50px;
    }
    h2, h3, h4, h5, h6, {
      margin-bottom: 40px;
    }
  }
  &__text {
    @extend %text-22;
    color: $grey-color;
    font-weight: 600;
  }
}