.lex-additional-resources {
    margin: 150px 0 0;
    @media (max-width: 991px) {
        margin: 80px 0 0 0;
    }
    
    &__main-title {
        text-align: center;
        margin-bottom: 100px;
        color: $blue-color-secondary;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }
    
    &__card {
        box-shadow: $drop-shadow;
        margin-bottom: 50px;
        border-radius: 10px;
        border-bottom: 22px solid $aqua;
        transition: 0.4s;
        overflow: hidden;
        
        @media (min-width: 992px) {
            border-bottom: 15px solid $aqua;
        }
        
        &-info {
            padding: 30px 25px;
            height: 230px;
            
            @media (max-width: 767px) {
                height: auto;
            }
        }
        
        &:hover {
            border-bottom-color: $green-color;
            overflow: hidden;
    
            .lex-text-and-image__image {
                img {
                    transform: scale(1.1);
                }
            }
        }
        
        .lex-text-and-image__image {
            margin: 0;
            width: 100%;
            
            img {
                width: 100%;
                max-height: 230px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                transition: 0.4s;
            }
            
            @media screen and (max-width: 390px) {
                max-width: 100%;
            }
        }
    }
    
    &__title {
        @extend %text-22-v2;
        color: $blue-color-secondary;
    }
    
    &__link {
        line-height: 19.2px;
        letter-spacing: 0.43px;
        font-weight: 600;
        color: $blue-color-secondary;
        font-family: $font-family-figtree;
        
        .circle-link {
            margin-left: 5px;
        }
        
        .hover-svg {
            display: none;
        }
        
        &:hover {
            cursor: pointer;
            color: $blue-color-secondary;
            text-decoration: none;
            
            .circle-link {
                display: none;
            }
            
            .hover-svg {
                display: inherit;
                animation: 500ms ease 0s pulsate-fwd;
                margin-left: 5px;
            }
        }
    }
    
    &__linkedin {
        margin: 15px 0 10px;
        transition: 0.4s;
        
        &:hover {
            transform: scale(1.2);
        }
    }
    
    &__btns {
        justify-content: center;
        display: flex;
        margin-top: 50px;
        
        .lex-btn {
            width: 260px;
            justify-content: center;
        }
        
        @media (max-width: 767px) {
            margin-top: 0;
        }
    }
}
