.lex-available-positions {
  background: linear-gradient(
                  177.48deg,
                  rgba(79, 176, 198, 0) -5.95%,
                  rgba(79, 176, 198, 0.07) 33.07%
  );
  margin-top: 150px;
  padding-bottom: 150px;
  @media (max-width: 767px) {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    @extend %text-60;
    text-align: center;
    color: $blue-color-secondary;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__cards {
    @media (max-width: 767px) {
      padding-top: 50px;
    }
  }
  &__card {
    border-radius: 10px;
    border-left: 10px solid $green-color;
    padding: 50px 60px;
    max-width: 580px;
    margin: 0 auto 50px;
    box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
    background-color: $white-color;
    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding: 50px 30px;
      max-width: inherit;
    }
    &-title {
      @extend %h4;
      color: $blue-color-secondary;
      &:hover {
        cursor: pointer;
        color: inherit;
      }
    }
    &-subtitle {
      @extend %text-18;
      padding-bottom: 32px;
      margin-bottom: 43px;
      border-bottom: 1px solid $green-color;
    }
    &-employment {
      @extend %text-18;
      font-weight: 700;
      margin-bottom: 0px;
    }
    &-date {
      @extend %text-18;
      margin-bottom: 0;
    }
  }
  &__btn {
    justify-content: center;
    display: flex;
    margin-top: 60px;
    @media (max-width: 767px) {
      margin-top: 40px;
    }
    .lex-btn {
      min-width: 210px;
      justify-content: center;
    }
  }
  &__search {
    position: relative;
    width: 830px;
    max-width: 100%;
    margin: 50px auto;
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      padding: 10px 50px;
      height: 60px;
      border: 1px solid rgba(2, 77, 145, 0.1);
      filter: drop-shadow(0px 0px 4px rgba(23, 25, 28, 0.05));
      border-radius: 8px;
      @media (max-width: 767px) {
        height: 44px;
        padding: 10px;
      }
      &::placeholder {
        font-family: $font-family-figtree;
        color: $grey-color;
      }
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 40px;
      height: 40px;
      background-color: $blue-color;
      border: none;
      border-radius: 100%;
      transition: all 300ms;
      @media (max-width: 767px) {
        width: 24px;
        height: 24px;
        padding: 5px;
      }
      &:hover {
        background-color: $blue-color-secondary;
      }
    }
  }
  &__filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 50px 0 100px;
    @media (max-width: 767px) {
      box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
    }
    &--desktop {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
      select {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  &__filter {
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    &.active {
      background-color: $blue-color;
      border-color: $blue-color;
      color: $white-color;
    }
  }
}
