.lex-comment-section {
    margin-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 991px) {
        margin: 80px 0;
    }
    
    &__image {
        max-width: 80px;
        margin-right: 15px;
        
        img {
            border: 1px solid $background-grey;
            border-radius: 50%;
        }
    }
    
    &__top {
        display: flex;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    
    &__name {
        font-family: $font-family-poppins;
        @extend %text-18;
        font-weight: 600;
        color: $blue-color-secondary;
        margin-bottom: 2px;
        
        @media (min-width: 992px) {
            font-weight: 700;
        }
    }
    
    &__position {
        color: $light-grey-color;
        font-family: $font-family-figtree;
    }
    
    &__text {
        @extend %h6;
        color: $blue-color-secondary;
        letter-spacing: 0.2px;
        margin: 0 15px;
    }
    
    &__wrap {
        max-width: 800px;
        margin: auto;
        padding: 50px 45px 80px 45px;
        border-radius: 10px;
        box-shadow: $box-shadow-third;
        border-bottom: 22px solid $aqua;
        transition: 0.4s;
        @media screen and (max-width: 767px) {
            padding: 30px;
        }
    }
}
