.lex-contact-forms {
<<<<<<< Updated upstream
=======
  position: relative;
  margin-top: -95px;
  padding-bottom: 150px;

  @media screen and (max-width: 991px) {
    margin-top: -57px;
    padding-bottom: 80px;
  }
  &:after {
    content: "";
    background-color: $aqua;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.07;
  }
  &__wrap {
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;
    background-image: $box-shadow-blue-light;
    position: relative;
    @media screen and (max-width: 767px) {
      padding: 0 15px;
    }
  }
  &__form {
>>>>>>> Stashed changes
    position: relative;
    margin-top: -95px;
    padding-bottom: 150px;
    
    @media screen and (max-width: 991px) {
        margin-top: -57px;
        padding-bottom: 80px;
    }
<<<<<<< Updated upstream
    
    &:after {
=======
    &-info {
      max-width: 500px;
      margin-left: auto;
      position: relative;
      height: 100%;
      @media screen and (max-width: 767px) {
        width: auto;
        max-width: inherit;
      }
      &:before {
>>>>>>> Stashed changes
        content: "";
        background-color: $aqua;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
<<<<<<< Updated upstream
        z-index: -1;
        opacity: 0.07;
    }
    
    &__wrap {
        max-width: 1200px;
        //padding: 0 50px;
        margin: auto;
        background-image: $box-shadow-blue-light;
        position: relative;
    }
    
    &__form {
        position: relative;
        background-color: $white-color;
        border-radius: 30px;
        box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
        top: 50px;
        
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(35%, 35%);
            width: 95px;
            height: 95px;
            background-image: url("../../../assets/img/dots-circle.svg");
            background-size: cover;
            z-index: 2;
            @media (max-width: 991px) {
                width: 60px;
                height: 60px;
                transform: translate(3%, 25%);
            }
        }
        
        &-info {
            max-width: 500px;
            margin-left: auto;
            height: 100%;
            position: relative;
            
            @media screen and (max-width: 767px) {
                width: auto;
                max-width: inherit;
            }
            
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                right: -20px;
                transform: translate(35%, 35%);
                width: 95px;
                height: 95px;
                background-image: url(../../assets/img/dots-circle.svg);
                background-size: cover;
            }
            
            &-image {
                img {
                    border-radius: 0 30px 0 0;
                    height: math-clamp(216, 324);
                    width: 100%;
                    object-fit: cover;
                    
                    @media screen and (max-width: 767px) {
                        border-radius: 0;
                    }
                }
            }
            
            &-wrap {
                background-image: $background-primary;
                color: $white-color;
                padding: 80px 70px 80px 50px;
                border-radius: 0 0 30px 0;
                
                @media (min-width: 992px) {
                    height: calc(100% - math-clamp(216, 324));
                }
                
                @media screen and (min-width: 767px) and (max-width: 991px) {
                    padding: 80px 50px 120px 50px;
                }
                @media screen and (max-width: 767px) {
                    border-radius: 0 0 30px 30px;
                    padding: 54px 30px;
                }
            }
            
            &-text {
                @extend %text-18;
                color: $white-color;
                max-width: 185px;
            }
            
            &-tell {
                color: $white-color;
                
                &:hover {
                    color: inherit;
                }
            }
        }
        
        &-main {
            border-radius: 30px 0 0 30px;
            padding-top: 80px;
            padding-bottom: 80px;
            height: 100%;
            @media screen and (max-width: 767px) {
                width: auto;
                padding-bottom: 60px;
                padding-right: 30px;
                padding-left: 30px;
            }
            
            &-count {
                max-width: 500px;
                margin-left: 50px;
                @media screen and (max-width: 767px) {
                    margin: auto;
                }
            }
=======
        right: -20px;
        transform: translate(35%,35%);
        width: 95px;
        height: 95px;
        background-image: url(../../assets/img/dots-circle.svg);
        background-size: cover;
        @media(max-width: 767px) {
          right: 0;
          width: 75px;
          height: 75px;
        }
        @media(max-width: 580px) {
          transform: translate(35%,65%);
        }
        @media(max-width: 500px) {
          transform: translate(35%,100%);
        }
        @media(max-width: 400px) {
          transform: translate(35%,130%);
        }
      }
      &-image {
        height: 52%;
        img {
          border-radius: 0 30px 0 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          @media screen and (max-width: 767px) {
            border-radius: 0;
          }
        }
      }
      &-wrap {
        background-image: $background-primary;
        color: $white-color;
        border-radius: 0 0 30px 0;
        height: 48%;
        display: flex;
        @media screen and (min-width: 767px) and (max-width: 991px) {
          padding: 0 15px;
        }
        @media (max-width: 767px) {
          min-height: 286px;
        }
        @media (max-width: 500px) {
          padding: 0 15px;
        }
        &-wrap {
          @media screen and (min-width: 991px) {
            padding: 0 15px;
          }
          max-width: 400px;
          margin: auto;
>>>>>>> Stashed changes
        }
    }
    
    &__search {
        margin-bottom: 75px;
        border-radius: 30px;
        background-color: $white-color;
        box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
        
        &-wrap {
            max-width: 800px;
            margin: auto;
            padding: 71px 0;
            @media (max-width: 991px) {
                padding-left: 50px;
                padding-right: 50px;
            }
            @media (max-width: 767px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        
        &-title {
            @extend %h4;
            color: $blue-color-secondary;
        }
        
        &-select {
            margin-top: 15px;
            
            .select2 {
                width: 100% !important;
            }
        }
    }
    
    &__btn {
        display: flex;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
        
        a {
            min-width: 230px;
            justify-content: center;
        }
<<<<<<< Updated upstream
=======
      }
    }
  }
  &__search {
    margin-bottom: 75px;
    border-radius: 30px;
    background-color: $white-color;
    box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
    &-wrap {
      max-width: 800px;
      margin: auto;
      padding: 71px 0;
      @media (max-width: 991px) {
        padding-left: 50px;
        padding-right: 50px;
      }
      @media (max-width: 767px) {
        padding: 50px 30px;
      }
    }
    &-title {
      @extend %h4;
      color: $blue-color-secondary;
    }
    &-select {
      margin-top: 15px;
      .select2 {
        width: 100% !important;
      }
    }
  }
  &__btn {
    display: flex;
    @media screen and (max-width: 767px) {
      justify-content: center;
>>>>>>> Stashed changes
    }
    
    .hs-form {
        
        fieldset {
            display: block;
            margin-bottom: 24px;
            
            &.form-columns-2 {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                
                > * {
                    flex: 0 0 100%;
                    max-width: 100%;
                    
                    @media (min-width: 992px) {
                        flex: 0 0 calc(50% - 12px);
                        max-width: calc(50% - 12px);
                    }
                }
            }
        }
        
        label {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: $blue-color-secondary;
            margin-bottom: 12px;
        }
        
        [type="email"],
        [type="text"],
        [type="tel"] {
            width: 100% !important;
            height: 43px;
            line-height: 43px;
            font-size: rem(16);
            padding: 0 20px;
            border: 1px solid rgba($blue-color, .1);
            filter: drop-shadow(0px 0px 4px rgba(23, 25, 28, 0.05));
            border-radius: 8px;
        }
        
        textarea {
            width: 100% !important;
            height: 140px;
            line-height: 1.5;
            font-size: rem(16);
            padding: 10px 20px;
            border: 1px solid rgba($blue-color, .1);
            filter: drop-shadow(0px 0px 4px rgba(23, 25, 28, 0.05));
            border-radius: 8px;
        }
    
        select {
            width: 100% !important;
            height: 43px;
            line-height: 43px;
            font-size: rem(16);
            padding: 0 20px;
            border: 1px solid rgba($blue-color, .1);
            filter: drop-shadow(0px 0px 4px rgba(23, 25, 28, 0.05));
            border-radius: 8px;
            background-color: $white-color;
        }
        
        .hs-form-field {
            float: none !important;
            width: 100% !important;
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            
            input {
                width: 100%;
            }
            
            label {
                order: 1;
            }
            
            .input {
                order: 2;
            }
            
            legend {
                margin: 0 !important;
                order: 3;
                font-size: rem(13);
                line-height: 1.2;
                color: $blue-color-secondary;
            }
            
            .inputs-list {
                list-style-type: none;
                padding: 0;
                margin: 0;
                
                li {
                    display: block;
                    margin-bottom: 12px;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    label {
                        display: block;
                        margin: 0;
                        cursor: pointer;
                        
                        input {
                            display: none;
                        }
                        
                        span {
                            display: block;
                            position: relative;
                            font-size: rem(16);
                            line-height: 26px;
                            padding-left: 30px;
                            margin: 0 !important;
                            
                            &:before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                width: 15px;
                                height: 15px;
                                border-radius: 3px;
                                border: 1px solid $blue-color-secondary;
                            }
                            
                            &:after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 3px;
                                border-radius: 2px;
                                width: 9px;
                                height: 9px;
                                background-color: $blue-color-secondary;
                                transition: all .3s;
                                opacity: 0;
                            }
                        }
    
                        input:checked + span {
                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        .legal-consent-container {
            .hs-richtext {
                font-size: rem(14);
                line-height: 1.5;
                margin-bottom: 12px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        
        .hs-error-msgs {
            list-style-type: none;
            margin: 0;
            font-size: rem(14);
            padding: 5px 10px;
            border-radius: 4px;
            border: 1px solid #ff0000;
            background-color: #fcdddd;
            margin-bottom: 20px;
            
            .hs-error-msg {
                margin-bottom: 0 !important;
                color: $blue-color-secondary;
            }
        }
        
        .hs_submit {
            .actions {
                width: max-content;
                position: relative;
                background-color: $blue-color;
                border-radius: 32px;
                
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: inherit;
                    transform-origin: center;
                    background-color: $blue-color-secondary;
                    transform: scale(0);
                    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
                }
                
                &:hover,
                &:focus,
                &:active {
                    
                    &:before {
                        transform: scale(1);
                    }
                }
                
                [type="submit"] {
                    width: 267px;
                    height: 61px;
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    border: none;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.43px;
                    color: $white-color;
                    position: relative;
                    z-index: 5;
                }
            }
        }
    }
}

.gfield_label {
    color: $blue-color-secondary;
    margin-bottom: 12px;
    font-size: 18px !important;
    font-weight: 600;
    font-family: $font-family-figtree;
}

.gform_wrapper.gravity-theme {
    .gform_footer input {
        min-width: 230px;
        justify-content: center;
        position: relative;
        line-height: 22px;
        background-color: $blue-color;
        border: 1px solid $blue-color;
        color: $white-color;
        padding: 18px 15px;
        border-radius: 200px;
        z-index: 1;
        
        &:hover {
            background-color: $blue-color-secondary;
            transform: scale(1);
            transition: transform .6s cubic-bezier(.19, 1, .22, 1);
        }
        
    }
    
    .gform_footer button {
        padding: 20px 49px;
    }
    
    .gfield {
        textarea.large {
            height: 140px !important;
            border: 1px solid rgba($blue-color, 10%);
            padding: 8px 10px;
            border-radius: 8px;
            width: 100%;
            color: $blue-color-secondary;
            resize: none;
            outline: none;
            font: $font-family-figtree;
            
            &:focus {
                border-color: $blue-color;
            }
        }
        
        input.large {
            height: 43px;
            border: 1px solid rgba($blue-color, 10%);
            padding: 4px 10px;
            border-radius: 8px;
            width: 100%;
            color: $blue-color-secondary;
            
            &:focus {
                border-color: $blue-color;
            }
        }
        
        .gfield_error {
            border-color: $pink !important;
        }
        
        .ginput_container_select {
            .select2 {
                width: 100% !important;
            }
        }
    }
<<<<<<< Updated upstream
    
    .gform_fields {
        grid-column-gap: 20px !important;
        
        .select2.select2-container .selection .select2-selection {
            border: 1px solid $light-grey-color-second;
        }
=======
  }
  .gform_fields {
    grid-column-gap: 20px!important;
    @media (max-width: 500px) {
      grid-column-gap: initial!important;
    }
    .select2.select2-container .selection .select2-selection {
      border: 1px solid $light-grey-color-second;
>>>>>>> Stashed changes
    }
    
}

.gfield_validation_message,
.gform_validation_errors,
.validation_message {
    display: none;
}

.gfield_required .gfield_required_text {
    display: none !important;
}

.gfield_error {
    textarea, input {
        border-color: $red-color !important;
    }
}

.gform_wrapper .gfield_error label {
    color: $blue-color-secondary !important;
    
    &.gfield_label {
        &:after {
            content: '*';
            color: red;
        }
    }
}
