.lex-horizontal-text-banner {
    position: relative;
    z-index: 2;
    padding-right: 40px;
    &.style-2 {
        .container {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-50%);
                width: 70px;
                height: 70px;
                background-color: $green-color;
                border-radius: 100%;
                @media (max-width: 991px) {
                    width: 40px;
                    height: 40px;
                    left: 5%;
                }
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(35%, 35%);
                width: 95px;
                height: 95px;
                background-image: url("../../../assets/img/dots-circle.svg");
                background-size: cover;
                @media (max-width: 991px) {
                    width: 60px;
                    height: 60px;
                    transform: translate(3%, 25%);
                }
            }
        }
    }
    &.aos-animate {
        .circle-right__inner {
            animation: pulse-black 1.5s;
        }
        .circle-left__inner {
            animation: pulse-black 1.5s;
        }
    }
    &__wrap {
        color: $white-color;
        position: relative;
        &.padding_xl {
            padding: 0 60px 0 30px;
            min-height: 497px;
            align-items: center;
            display: flex;
            @media screen and (max-width: 991px) {
                min-height: 303px;
                padding: 75px 50px 65px 35px;
            }
            @media screen and (max-width: 767px) {
                padding: 80px 30px 70px 15px;
            }
        }
        &.padding_x {
            padding: 73px 185px 73px 100px;
            @media screen and (min-width: 1440px) {
                padding: 73px 185px 73px 0;
            }
            @media screen and (max-width: 991px) {
                padding: 73px 50px;
            }
            @media screen and (max-width: 767px) {
                padding: 73px 30px 73px 15px;
            }
        }
        &:after {
            left: auto;
            right: 0;
            border-radius: 0 30px 30px 0;
            height: calc(100% - 0px);
            top: 0;
            background-image: $background-primary;
            box-shadow: 0 4px 17px rgba(17, 61, 118, 0.1);
            content: "";
            display: block;
            position: absolute;
            width: calc((100vw - 100%) / 2 + 100% - 0px);
            z-index: -1;
        }

    }

    &__subtitle {
        @extend %text-18-v2;
    }
<<<<<<< Updated upstream
    &__description {
        @extend %text-18;
        color: $white-color;
        margin: 20px 0 0 0;
=======
  }
  &__content {
    max-width: 975px;
    @media (min-width: 1700px) {
      max-width: 1250px;
    }
    .lex-btn {
      width: 224px;
      justify-content: center;
      margin-top: 40px;
>>>>>>> Stashed changes
    }
    &__title {
        @media (max-width: 991px) {
            font-size: 36px;
            line-height: 1.25;
        }
        @media (max-width: 767px) {
            font-size: 34px;
            line-height: 1.2;
        }
    }
    &__content {
        max-width: 1200px;
        .lex-btn {
            width: 224px;
            justify-content: center;
            margin-top: 40px;
        }
    }
    .container {
        position: relative;
        &.add_elements {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-50%);
                width: 70px;
                height: 70px;
                background-color: $green-color;
                border-radius: 100%;
                @media (max-width: 991px) {
                    left: 45px;
                    width: 40px;
                    height: 40px;
                }
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(35%,35%);
                width: 95px;
                height: 95px;
                background-image: url(../../assets/img/dots-circle.svg);
                background-size: cover;
                @media (max-width: 991px) {
                    transform: translate(20%,35%);
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }
    .circle-right {
        position: absolute;
        right: 15px;
        top: 0;
        width: 50%;
        height: 100%;
        border-top-right-radius: 30px;
        overflow: hidden;
        @media (max-width: 991px) {
            width: 70%;
        }
        &__inner {
            position: absolute;
            top: -15%;
            right: 0;
            width: 420px;
            height: 420px;
            border-radius: 100%;
            box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
            opacity: 0.08;
            @media (max-width: 991px) {
                width: 195px;
                height: 195px;
                right: -10%;
            }
            @media (max-width: 767px) {
            }
            &:before {
                content: "";
                position: absolute;
                top: 90px;
                right: 20px;
                width: 265px;
                height: 265px;
                background: $background-primary;
                box-shadow: inset 26.5766px 26.5766px 159.46px rgba(176, 255, 242, 0.25),
                inset -39.865px 26.5766px 146.172px rgba(161, 255, 213, 0.25);
                border-radius: 100%;
                @media (max-width: 991px) {
                    width: 120px;
                    height: 120px;
                    top: 50px;
                }
                @media (max-width: 767px) {
                }
            }
        }
    }
    .circle-left {
        position: absolute;
        left: -18%;
        bottom: 0;
        width: 600px;
        height: 100%;
        overflow: hidden;
        @media (max-width: 991px) {
            left: -8%;
            max-width: 280px;
        }
        &__inner {
            position: absolute;
            bottom: -5%;
            left: 8%;
            width: 377px;
            height: 377px;
            border-radius: 100%;
            box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
            opacity: 0.08;
            @media (max-width: 991px) {
                width: 250px;
                height: 250px;
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 40px;
                left: 20px;
                width: 235px;
                height: 235px;

                background: $background-primary;
                box-shadow: inset 26.5766px 26.5766px 159.46px rgba(176, 255, 242, 0.25),
                inset -39.865px 26.5766px 146.172px rgba(161, 255, 213, 0.25);
                border-radius: 100%;
                @media (max-width: 991px) {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}

@keyframes pulse-black {
    0% {
        transform: scale(0.5);
    }

    //70% {
    //  transform: scale(1.2);
    //  box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
    //}

    100% {
        transform: scale(1);
        box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
    }
}
