.lex-join-the-team {
  padding-bottom: 150px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 493px;
    width: 100%;
    background-image: $background-secondary;
    z-index: -1;
  }
  @media (max-width: 991px) {
    padding-bottom: 80px;
  }
  &__image {
    max-width: 500px;
    @media (max-width: 767px) {
      margin: 0 auto;
      max-width: inherit;
    }
    img {
      object-fit: cover;
      height: 538px;
      border-radius: 30px 0 0 30px;
      width: 100%;
      @media (max-width: 767px) {
        border-radius: 30px 30px 0 0;
        max-height: 340px;
      }
    }
  }
  &__content {
    height: 100%;
    display: flex;
    @media (max-width: 767px) {
      padding: 50px 15px;
    }
    &-wrap {
      max-width: 544px;
      margin: auto;
    }
  }
  &__title {
    @extend %h3;
    text-transform: capitalize;
    color: $blue-color-secondary;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    margin: 0;
    line-height: 135%;
    margin-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 120px;
      background-color: $green-color;
    }
  }
  &__description {
    @extend %text-18;
    opacity: 0.8;
    color: $blue-color-brand;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__wrap {
    border-radius: 30px;
    box-shadow: $box-shadow-secondary;
    background-color: $white-color;
  }
  &__btn {
    .lex-btn {
      min-width: 260px;
      justify-content: center;
    }
  }
}