.lex-leadership-team {
    padding-top: 150px;
    margin-bottom: 150px;
    position: relative;
    @media (max-width: 991px) {
        padding-top: 80px;
        margin-bottom: 80px;
    }
    
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 576px;
        top: 0;
        left: 0;
        background-image: linear-gradient(
                        177.48deg,
                        rgba(79, 176, 198, 0) -5.95%,
                        rgba(79, 176, 198, 0.07) 33.07%
        );
        transform: rotate(-180deg);
        z-index: -1;
    }
    
    &__title {
        @extend %h3;
        text-align: center;
        color: $blue-color-secondary;
        margin: 0;
    }
    
    &__card {
        text-align: center;
        width: auto;
        height: 331px;
        box-shadow: $box-shadow-secondary;
        border-bottom: 22px solid $aqua;
        transition: 0.4s;
        border-radius: 10px;
        position: relative;
        margin-top: 180px;
        background-color: $white-color;
        
        &-name {
            @extend %text-22;
            color: $blue-color-secondary;
            font-weight: 600;
            position: relative;
        }
        
        &-image {
            max-width: 180px;
            margin: auto;
            margin-bottom: 40px;
            margin-top: -90px;
            display: inline-block;
        }
        
        &-position {
            @extend %text-16;
            color: $grey-color;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 10px;
            min-height: 48px;
        }
        
        &-content {
            max-width: 233px;
            margin: auto;
            position: relative;
            
            &:after {
                content: "";
                background-color: $green-color;
                height: 1px;
                width: 100%;
                position: absolute;
                top: 37px;
                left: 0;
            }
        }
    }
}
