.lex-main-page-header {
    $main-page-header: &;
    
    position: relative;
    padding: 135px 0;
    overflow: hidden;

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    @media (max-width: 767px) {
        padding: 80px 15px;
    }
    
    &__inner {
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    &__content {
        font-family: $font-family-figtree;
        max-width: 655px;
        @media (max-width: 991px) {
            max-width: 590px;
            margin: auto;
            text-align: center;
        }
        @media (max-width: 767px) {
            text-align: initial;
        }
    }
    
    &__title {
        @extend %h2;
        text-transform: capitalize;
        letter-spacing: -0.5px;
        color: $blue-color-secondary;
        
        span {
            color: $blue-color;
            @media (max-width: 400px) {
                display: block;
            }
        }
    }
    
    &__description {
        @extend %text-18;
        color: $grey-color;
    }
    
    &__btns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 991px) {
            justify-content: center;
        }
        @media (max-width: 767px) {
            justify-content: flex-start;
        }
        
        .lex-btn {
            min-width: 280px;
            justify-content: center;
            @media (max-width: 767px) {
                width: 100%;
            }
            @media (max-width: 390px) {
                min-width: unset;
            }
        }
    }
    
    &__photo {
        object-fit: cover;
        border-radius: 50%;
        @extend %wh-100;
    }
    
    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
        margin: 30px auto;
        @media (max-width: 991px) {
            max-width: 400px;
        }
        @media (max-width: 767px) {
            max-width: 290px;
        }
        
        &-border {
            animation: rotate 120s linear infinite;
        }
        
        &-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 110px);
            height: calc(100% - 110px);
            @media (max-width: 767px) {
                width: calc(100% - 60px);
                height: calc(100% - 60px);
            }
        }
    }
    
    &__caption {
        text-align: center;
        font-family: $font-family-figtree;
        padding-bottom: 20px;
        
        &-name {
            font-weight: 700;
            color: $blue-color-secondary;
            font-size: rem(18);
            margin-bottom: 10px;
            font-family: $font-family-poppins;
        }
    }
    
    &.bg_style_1 {
        #{$main-page-header}__image-wrapper .circles-container {
            height: 0px;
            
            img {
                height: 0px;
            }
        }
        
        #{$main-page-header}__image {
            &-border {
                &.add_elements {
                    &:after {
                        content: "";
                        position: absolute;
                        top: 60%;
                        left: -1%;
                        width: 6%;
                        height: 6%;
                        background-color: $blue-color;
                        border-radius: 100%;
                    }
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 18%;
                        right: 2%;
                        width: 11%;
                        height: 11%;
                        background-color: $aqua;
                        border-radius: 100%;
                    }
                }
            }
            
            &-wrapper {
                &.add_elements {
                    .circles-container {
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 12%;
                            right: 8%;
                            width: 11%;
                            height: 11%;
                            background-color: $light-green-color;
                            border-radius: 100%;
                        }
                        
                        img {
                            position: absolute;
                            bottom: 14%;
                            right: 1%;
                            width: 15%;
                            height: 15%;
                            z-index: 2;
                        }
                    }
                }
            }
        }
        
        .bg-circle {
            overflow: hidden;
            position: absolute;
            top: -200px;
            left: -200px;
            
            &:before {
                content: "";
                display: block;
                width: 1200px;
                height: 1200px;
                background-color: $aqua;
                opacity: 0.07;
                border-radius: 100%;
                
                @media (min-width: 1700px) {
                    width: 1400px;
                    height: 1400px;
                }
            }
            
            @media (max-width: 991px) {
                top: 25%;
                width: 100%;
                height: 80%;
                position: absolute;
                left: 0;
                
                &:before {
                    width: 150vw;
                    height: 150vw;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    right: 30%;
                    content: "";
                    display: block;
                    background-color: $aqua;
                    opacity: .07;
                    border-radius: 100%;
                }
            }
        }
    }
    
    &.bg_style_2 {
        .bg-circle {
            position: absolute;
            overflow: hidden;
            top: -85%;
            right: -40%;
            
            @media (min-width: 1600px) {
                position: absolute;
                overflow: hidden;
                top: -200px;
                left: -200px;
            }
            @media (min-width: 767px) and (max-width: 991px) {
                top: 25%;
                width: 100%;
                height: 80%;
                position: absolute;
                left: 0;
                
                &:before {
                    width: 150vw;
                    height: 150vw;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    right: 30%;
                    content: "";
                    display: block;
                    background-color: $aqua;
                    opacity: .07;
                    border-radius: 100%;
                }
            }
            @media (max-width: 767px) {
                top: -45%;
                width: 100%;
                
                &:before {
                    width: 700px;
                    height: 700px;
                }
            }
        }
        
        #{$main-page-header}__image {
            &-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 70px);
                height: calc(100% - 70px);
                
                .circles-container {
                    height: 0px;
                    
                    img {
                        height: 0px;
                    }
                }
            }
        }
    }
    
    .bg-circle {
        overflow: hidden;
        
        &:before {
            content: "";
            display: block;
            width: 1200px;
            height: 1200px;
            background-color: $aqua;
            opacity: 0.07;
            border-radius: 100%;
            //transform: translateY(-50%);
            @media (min-width: 1700px) {
                width: 1400px;
                height: 1400px;
            }
        }
    }
    
    .text-col {
        @media (max-width: 991px) {
            order: 2;
        }
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}
