.lex-main-resources-blocks {
    margin: -100px 0 175px;
    
    
    @media (max-width: 991px) {
        margin-top: -62px;
        margin-bottom: 0;
    }
    
    &__description {
        @extend %text-18;
        opacity: 0.8;
    }
    
    &__title {
        letter-spacing: -0.5px;
        line-height: 1.35;
        color: $blue-color-brand;
    }
    
    &__main {
        background-color: $white-color;
        border-radius: 16px;
        box-shadow: $box-shadow-secondary;
        border-bottom: 22px solid $aqua;
        transition: 0.4s;
        position: relative;
        margin-bottom: 82px;
        overflow: hidden;
        
        &:hover {
            border-color: $green-color;
            overflow: hidden;
        }
        
        &-image {
            height: 458px;
            overflow: hidden;
            @media (max-width: 767px) {
                max-height: 245px;
            }
            
            img {
                border-radius: 16px 0 0 0;
                height: 100%;
                object-fit: cover;
                width: 100%;
                min-height: 100%;
                transition: 0.4s;
                
                &:hover {
                    transform: scale(1.05);
                    transition: 0.4s;
                }
                
                @media (max-width: 767px) {
                    border-radius: 16px 16px 0 0;
                }
            }
        }
        
        &-text {
            align-self: center;
            margin: auto;
            @media screen and (min-width: 767px) and (max-width: 991px) {
                margin: 15px auto;
            }
            @media (max-width: 767px) {
                padding: 30px;
                max-width: max-content;
            }
            max-width: 580px;
            
            .lex-btn {
                width: 255px;
                justify-content: center;
                @media (max-width: 767px) {
                    margin: auto;
                }
            }
            
            &-wrap {
                display: flex;
                height: 100%;
            }
        }
    }
    
    &__card {
        box-shadow: $box-shadow-secondary;
        border-bottom: 22px solid $aqua;
        transition: 0.4s;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        
        &:hover {
            border-color: $green-color;
            overflow: hidden;
        }
        
        &-image {
            position: relative;
            width: 100%;
            overflow: hidden;
            
            img {
                max-height: 348px;
                width: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                transition: 0.4s;
                overflow: hidden;
                @media (max-width: 767px) {
                    max-height: 186px;
                }
                
                &:hover {
                    transform: scale(1.05);
                    transition: 0.4s;
                    overflow: hidden;
                }
            }
        }
        
        &-info {
            max-width: 516px;
            margin: auto;
            height: 100%;
            
            &-wrap {
                min-height: 271px;
                display: flex;
                
                @media (max-width: 767px) {
                    min-height: 150px;
                }
                
                .lex-additional-resources__card-info {
                    padding: 0 30px;
                    
                    @media (max-width: 767px) {
                        max-height: 186px;
                        max-width: inherit;
                        padding: 15px 25px 0;
                    }
                }
            }
        }
        
    }
    
    &__bottom {
        @media (max-width: 767px) {
            margin-bottom: -50px;
        }
    }
}
