.lex-prefooter-component {
    padding: 150px 0;
    &:before {
        background-image: $background-secondary;
    }
    @media (max-width: 991px) {
        padding: 80px 0;
    }
    &__wrap {
        text-align: center;
        box-shadow: $drop-shadow;
        border-radius:30px;
        background-color: $white-color;
        padding: 108px 0 58px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &-back {
            background-image: $background-primary;
            height: 67%;
            position: absolute;
            bottom: -35%;
            left: -3%;
            right: -3%;
            z-index: -1;
            border-radius: 50%;
            @media (max-width: 991px) {
                left: -19%;
                right: -19%;
                bottom: -28%;
            }
            @media (max-width: 767px) {
                left: -40%;
                right: -40%;
                bottom: -28%;
            }
        }
        @media (max-width: 991px) {
            padding: 78px 0 80px;
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 174px;
            color: $white-color;
            @media (max-width: 991px) {
                display: block;
                text-align: -webkit-center;
                margin-top: 154px;
            }
            .lex-btn {
                width: 282px;
                justify-content: center;
                margin: 0 10px;
                @media (max-width: 350px) {
                    max-width: 240px;
                }
            }
            .lex-btn_primary {
                @media (max-width: 991px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__title {
        color: $blue-color-secondary;
        max-width: 90%;
        margin: auto;
        @media (max-width: 767px) {
            font-size: 34px;
        }
    }
    &__description {
        margin-top: 20px;
        padding: 0 30px;
        @extend %text-18;
        color: $blue-color-secondary;
    }
    &__text {
        @extend %h4;
        margin-right: 20px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .normal {

    }
    &.large {
        background-image: none;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2700px;
            background: linear-gradient(177.48deg, rgba(79, 176, 198, 0) -5.95%, rgba(79, 176, 198, 0.07) 33.07%);
            z-index: -1;
        }
    }


}
