.lex-secondary-page-header {
    background-image: $background-primary;
    color: $white-color;
    position: relative;
    overflow: hidden;
    
    .container-wrap {
        position: relative;
        padding: 120px 0;
        //max-width: 1400px;
        margin: auto;
    }
    
    &__title {
        font-size: rem(55);
        @media (max-width: 991px) {
            font-size: rem(42);
        }
    }
    
    &.aos-animate {
        .circle-right__inner {
            animation: pulse-black 1.5s;
        }
        
        .circle-left__inner {
            animation: pulse-black 1.5s;
        }
    }
    
    &.padding_xl {
        .container-wrap {
            padding: 145px 0 225px;
            
            @media screen and (max-width: 991px) {
                padding: 80px 0 122px;
            }
        }
    }
    
    &.padding_xx {
        .container-wrap {
            padding: 144px 0 124px;
        }
    }
    
    &.padding_x {
        .container-wrap {
            padding: 120px 0 155px;
            @media screen and (max-width: 991px) {
                padding: 80px 0 97px;
            }
        }
    }
    
    &.padding_m {
        .container-wrap {
            padding: 120px 0 80px;
        }
    }
    
    &.padding_s {
        .container-wrap {
            padding: 100px 0 80px;
        }
    }
    
    &__content {
        max-width: 820px;
        margin: auto;
        text-align: center;
    }
    
    &__btn {
        justify-content: center;
        display: flex;
        
        .lex-btn {
            width: 254px;
            justify-content: center;
        }
    }
    
    &__background {
        max-width: 1800px;
        position: relative;
        height: 0;
        margin: auto;
        
        &-second {
            position: absolute;
            right: -5%;
            top: -225px;
            
            svg {
                width: 100%;
            }
            
            @media screen and (max-width: 767px) {
                position: absolute;
                right: -80px;
                top: -250px;
                max-width: 350px;
            }
        }
        
        &-first {
            position: absolute;
            top: 30px;
            left: -10%;
            
            svg {
                width: 100%;
            }
            
            @media screen and (max-width: 767px) {
                position: absolute;
                top: -20px;
                left: -80px;
                max-width: 450px;
            }
        }
    }
    
    &__description {
        @extend %text-18;
        color: $white-color;
        margin-bottom: 40px;
    }
    
    .circle-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100%;
        overflow: hidden;
        
        @media (max-width: 991px) {
            width: 70%;
        }
        
        &__inner {
            position: absolute;
            top: -55%;
            right: -10%;
            width: 420px;
            height: 420px;
            border-radius: 100%;
            box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
            opacity: 0.08;
            
            @media (max-width: 991px) {
                width: 195px;
                height: 195px;
                right: -10%;
            }
            @media (max-width: 767px) {
                width: 153px;
                height: 153px;
                top: -7%;
            }
            
            &:before {
                content: "";
                position: absolute;
                top: 90px;
                right: 20px;
                width: 265px;
                height: 265px;
                background: $background-primary;
                box-shadow: inset 26.5766px 26.5766px 159.46px rgba(176, 255, 242, 0.25),
                inset -39.865px 26.5766px 146.172px rgba(161, 255, 213, 0.25);
                border-radius: 100%;
                
                @media (max-width: 991px) {
                    width: 120px;
                    height: 120px;
                    top: 50px;
                }
                @media (max-width: 767px) {
                    width: 95px;
                    height: 95px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    
    .circle-left {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 600px;
        height: 100%;
        overflow: hidden;
        
        @media (max-width: 991px) {
            max-width: 400px;
        }
        
        &__inner {
            position: absolute;
            bottom: -52%;
            left: -10%;
            width: 377px;
            height: 377px;
            border-radius: 100%;
            box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
            opacity: 0.08;
            
            @media (max-width: 991px) {
                width: 250px;
                height: 250px;
            }
            @media (max-width: 767px) {
                width: 170px;
                height: 170px;
                bottom: 16%;
                left: -8%;
            }
            
            &:before {
                content: "";
                position: absolute;
                bottom: 40px;
                left: 20px;
                width: 235px;
                height: 235px;
                background: $background-primary;
                box-shadow: inset 26.5766px 26.5766px 159.46px rgba(176, 255, 242, 0.25),
                inset -39.865px 26.5766px 146.172px rgba(161, 255, 213, 0.25);
                border-radius: 100%;
                
                @media (max-width: 991px) {
                    width: 160px;
                    height: 160px;
                }
                @media (max-width: 767px) {
                    width: 106px;
                    height: 106px;
                    bottom: auto;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@keyframes pulse-black {
    0% {
        transform: scale(0.5);
    }
    
    //70% {
    //  transform: scale(1.2);
    //  box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
    //}
    
    100% {
        transform: scale(1);
        box-shadow: inset 132.883px 99.6624px 298.987px $light-aqua;
    }
}
