.lex-service-solutions {
<<<<<<< Updated upstream
    $service-solutions: &;
    
=======
  $service-solutions: &;

  position: relative;
  margin: 150px 0 0;
  @media (max-width: 991px) {
    margin: 80px 0 0;
  }
  &__title {
    color: $blue-color-brand;
>>>>>>> Stashed changes
    position: relative;
    margin: 150px 0;
    @media (max-width: 991px) {
        margin: 80px 0 0;
    }
    
    &__title {
        color: $blue-color-brand;
        position: relative;
        @extend %text-60;
        padding-bottom: 30px;
        @media (max-width: 991px) {
            padding-bottom: 0;
        }
        
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 120px;
            height: 3px;
            background-color: $green-color;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    
    &__description {
        @extend %text-18;
        color: $grey-color;
        font-family: $font-family-figtree;
    }
    
    &__top {
        align-items: center;
    }
    
    &__blocks {
        margin-top: 50px;
        
        @media (min-width: 992px) {
            margin-top: 20px;
        }
        
        &--desktop {
            @media (max-width: 991px) {
                display: none;
            }
            @media (max-width: 767px) {
                display: block;
            }
        }
        
        &--tablet {
            display: none;
            @media (max-width: 991px) {
                display: block;
                overflow: hidden;
                margin-left: -15px;
                margin-right: -15px;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    
    &__block-wrapper {
        margin-top: 40px;
    }
    
    &__block {
        position: relative;
        padding: 30px;
        $border: 1px;
        background: $white-color;
        background-clip: padding-box;
        border: solid $border transparent;
        border-radius: 1em;
        height: 100%;
        min-height: 300px;
        transition: all 300ms;
        @media (max-width: 991px) {
            max-width: 400px;
            height: auto;
            transform: none !important;
        }
        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
        }
        
        &-title {
            @extend %text-22;
            font-weight: 600;
            color: $blue-color-secondary;
        }
        
        &-description {
            @extend %text-18;
            color: $grey-color;
            font-family: $font-family-figtree;
            margin-bottom: 0;
            @media (max-width: 991px) {
                margin-bottom: 40px;
            }
        }
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -$border;
            border-radius: inherit;
            background: $background-light-green;
        }
        
        &-other-side {
            position: absolute;
            top: 0;
            left: 0;
            @extend %wh-100;
            pointer-events: none;
            font-family: $font-family-figtree;
            display: none;
            @media (max-width: 991px) {
                display: flex;
                gap: 15px;
                position: static;
            }
        }
        
        &-image {
            max-width: 128px;
            max-height: 128px;
            border-radius: 100%;
            margin-bottom: 15px;
            @media (max-width: 991px) {
                margin-bottom: 0;
                max-width: 80px;
                max-height: 80px;
            }
        }
        
        &-name {
            font-weight: 700;
            font-size: rem(22);
            margin-bottom: 5px;
            @media (max-width: 991px) {
                color: $blue-color-secondary;
            }
            @media (max-width: 767px) {
                font-size: rem(18);
            }
        }
        
        &-position {
            margin-bottom: 0;
            @media (max-width: 991px) {
                color: $light-grey-color;
            }
        }
        
        &:hover {
            @media (min-width: 992px) {
                cursor: pointer;
                background-color: $blue-color;
                #{$service-solutions}__block-front-side {
                    display: none;
                }
                #{$service-solutions}__block-other-side {
                    display: block;
                    color: $white-color;
                    border-radius: 15px;
                    padding: 40px 30px;
                    pointer-events: initial;
                }
            }
        }
    }
    
    &__circle {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        overflow: hidden;
        
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            @extend %wh-100;
            background-image: conic-gradient(
                            #222846 16.66%,
                            #133a6a 16.66% 33.32%,
                            #074887 33.32% 49.98%,
                            #0a5696 49.98% 66.64%,
                            #15659e 66.64% 83.3%,
                            #1c6fa3 83.3%
            );
            border-radius: 50%;
            transform: rotate(-30deg);
        }
    }
    
    &__right-col {
        padding-left: 60px;
        @media (max-width: 991px) {
            padding-left: 0;
            padding-top: 40px;
            max-width: 400px;
            margin: auto;
        }
    }
    
    .bg-circle {
        position: absolute;
        top: -22%;
        right: 0;
        width: 64%;
        height: 1125px;
        overflow: hidden;
        z-index: -1;
        @media (max-width: 991px) {
            height: 827px;
            top: -5%;
            width: 100%;
        }
        @media (max-width: 767px) {
            height: 633px;
            top: 7%;
        }
        @media (min-width: 1700px) {
            height: 1352px;
        }
        
        &:before {
            content: "";
            display: block;
            width: 1125px;
            height: 1125px;
            background-color: $aqua;
            opacity: 0.07;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: 991px) {
                width: 827px;
                height: 827px;
                left: 50%;
                transform: translateX(-50%);
            }
            @media (max-width: 767px) {
                width: 633px;
                height: 633px;
            }
            @media (min-width: 1700px) {
                width: 1352px;
                height: 1352px;
            }
        }
    }
}

.circle-segment {
    position: absolute;
    text-align: center;
    color: $white-color;
    font-family: $font-family-figtree;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &:nth-child(1) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        height: 40%;
        width: 30%;
    }
    
    &:nth-child(2) {
        top: 18%;
        right: 0;
        width: 45%;
        height: 33%;
        padding: 15px 30px;
    }
    
    &:nth-child(3) {
        top: 50%;
        right: 0;
        width: 43%;
        height: 33%;
        padding: 30px;
    }
    
    &:nth-child(4) {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        padding: 15px;
        height: 35%;
        width: 30%;
    }
    
    &:nth-child(5) {
        top: 50%;
        left: 0;
        width: 43%;
        height: 33%;
        padding: 30px;
    }
    
    &:nth-child(6) {
        top: 18%;
        left: 0;
        width: 45%;
        height: 33%;
        padding: 15px 30px;
    }
    
    &__title {
        @media (max-width: 991px) {
            display: none;
        }
    }
}
