.lex-team-members {
  background: linear-gradient(
    177.48deg,
    rgba(79, 176, 198, 0) -5.95%,
    rgba(79, 176, 198, 0.07) 33.07%
  );
  margin-top: 150px;
  padding-bottom: 150px;
  @media (max-width: 767px) {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    text-align: center;
    color: $blue-color-secondary;
  }
  &__cards {
    margin-bottom: 60px;
  }
  &__card {
    display: flex;
    position: relative;
    height: auto;
    max-width: 338px;
    box-shadow: $drop-shadow;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: $white-color;
    min-height: 187px;
    @media screen and (min-width: 991px) and (max-width: 1210px) {
      max-width: 90%;
    }
    @media (max-width: 991px) {
      max-width: calc(100% - 70px);
    }

    &-image {
      max-width: 112px;
      position: absolute;
      top: calc(50% - 56px);
      right: -56px;
    }
    &-name {
      padding-bottom: 10px;
      border-bottom: 1px solid $green-color;
      margin-top: 5px;
      @extend %text-22-v2;
      color: $blue-color-secondary;
      transition: 0.4s;
      margin-bottom: 10px;
    }
    &-content {
      padding: 25px 15px 14px 20px;
      width: calc(100% - 56px);
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    .lex-btn {
      width: 210px;
      justify-content: center;
    }
  }
  &__filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0 100px;
    @media (max-width: 767px) {
      box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
    }
    &--desktop {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
        margin-bottom: 40px;
      }
      select {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  &__filter {
    font-weight: 400;
    padding-top: 13px;
    padding-bottom: 13px;
    &.active,
    &:focus,
    &:target,
    &:hover,
    {
      background-color: $blue-color;
      border-color: $blue-color;
      color: $white-color;
    }
  }
}