.lex-testimonial {
    position: relative;
    min-height: 710px;
    @media (max-width: 991px) {
        margin: 80px 0 0;
        padding-top: 60px;
    }
    @media (max-width: 767px) {
        overflow: hidden;
    }
    &__quote {
        opacity: 0.07;
        @media (max-width: 767px) {
            position: absolute;
            top: -35%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title {
        max-width: 200px;
        color: $blue-color-secondary;
        margin: 30px 0;
        line-height: 135%;
        @media (max-width: 767px) {
            max-width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    &__slider {
        padding: 165px 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;
        max-width: 1200px;
        @media (max-width: 767px) {
            position: static;
            width: 100%;
            padding: 40px 0 80px;
        }
    }
    &__slider-image {
        position: absolute;
        top: 0;
        left: 0;
        @extend %wh-100;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        overflow: hidden;
        margin-left: 125px;
        @media (max-width: 767px) {
            margin-left: 0;
            height: 320px;
            top: initial;
            bottom: 0;
            left: -30px;
            width: calc(100% + 30px);
        }
        img {
            @extend %wh-100;
            object-fit: cover;
        }
    }
    &-block {
        font-family: $font-family-figtree;
        padding: 0 20px;
        max-width: 100%;
        width: 640px;
        height: auto;

        @media (max-width: 767px) {
            width: 330px;
            padding: 0 7px;
        }
        &__inner {
            padding: 50px 45px;
            height: 100%;

            @media (max-width: 991px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &__top {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &__name {
            margin-bottom: 5px;
            font-size: rem(18);
            color: $blue-color-secondary;
        }
        &__position {
            margin-bottom: 0;
            color: $light-grey-color;
        }
        &__description {
            padding-top: 30px;
            color: $blue-color-secondary;
            font-weight: 600;
            font-size: rem(20);
            @media (max-width: 991px) {
                font-size: rem(16);
            }
        }
    }
    .container {
        @media (max-width: 767px) {
            padding: 0;
        }
    }
    .swiper-buttons {
        display: flex;
        gap: 20px;
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: $white-color;
        border-radius: 100%;
        border: 1px dashed $green-color;
        box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
        
        path {
            transition: all 300ms;
        }
        &:hover {
            path {
                stroke: $blue-color;
            }
        }
    }
    
    .swiper-button-prev {
        img {
            margin-left: -4px;
        }
    }
    .swiper-button-next {
        img {
            margin-right: -4px;
        }
    }
}
