.lex-text-and-image {
  $text-and-image: &;

  margin: 150px 0;
  @media (max-width: 991px) {
    margin: 80px 0 0 0;
  }
  &__main-title {
    @extend %text-60;
    text-transform: capitalize;
    color: $blue-color-secondary;
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 130px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    @extend %text-36;
    color: $blue-color-secondary;
    font-weight: 600;
  }
  &__subtitle {
    @extend %text-22;
    color: $grey-color;
    line-height: 36.3px;
    font-weight: 600;
  }
  &__description {
    @extend %text-18;
    color: $grey-color;
    position: relative;
    padding-top: 32px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      height: 3px;
      background-color: $green-color;
    }
  }
  &__card {
    margin: 60px 0;
    @media (max-width: 768px) {
      margin: 40px 0;
    }
    &:nth-child(even) {
      #{$text-and-image}__card-left {
        @media (min-width: 575px) {
          order: 2;
        }
      }
    }
    &-text {
      max-width: 520px;
      margin-left: auto;
    }
    .row {
      align-items: center;
    }
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 485px;
    max-width: 100%;
    overflow: hidden;
    @media (max-width: 390px) {
      max-width: 85%;
    }
  }
  &__image-border {
    animation: rotate 120s linear infinite;
  }
  &__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    height: calc(100% - 60px);
  }
  &__photo {
    object-fit: cover;
    border-radius: 50%;
    @extend %wh-100;
  }
}