.lex-text-and-image-and-button {
  margin: 150px 0;
  @media (max-width: 991px) {
    margin: 80px 0;
  }
  .lex-btn {
    width: 260px;
    justify-content: center;
  }
  &__first-svg {
    position: absolute;
    bottom: 34px;
    right: -18px;
  }
  &__second-svg {
    position: absolute;
    top: -33px;
    left: -27px;
  }
  &__third-svg {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 50px;
    transition: 0.4s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &__image {
    position: relative;
    @media (max-width: 767px) {
      margin: 0 5px;
    }
    img {
      border-radius: 10px;
      @media (max-width: 767px) {
        max-height: 400px;
      }
    }
  }
  &__title {
    line-height: 135%;
    color: $blue-color-secondary;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120px;
      height: 3px;
      background-color: $green-color;
    }
  }
  &__description {
    @extend %text-18;
    color: $grey-color;
    opacity: 0.8;
  }
  &__content {
    height: 100%;
    display: flex;
    &-wrap {
      max-width: 520px;
      margin: auto;
      @media (max-width: 767px) {
        max-width: max-content;
        padding: 30px;
      }
    }
  }
}