.lex-thank-you {
  background-color: rgba($aqua, 7%);
  &__wrap {
    padding: 100px 0;
    @media (max-width: 991px) {
      margin: 80px 0;
    }
  }
  &__text {
    text-align: center;
    @extend %text-22;
    color: $grey-color;
    font-weight: 600;
  }
}