.lex-vertical-steps {
    $vertical-steps: &;
    
    margin: 150px 0;
    @media (max-width: 991px) {
        margin: 80px 0;
    }
    
    &__main-title {
        text-align: center;
        margin-bottom: 100px;
        color: $blue-color-secondary;
        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
    }
    
    &.media-style-1 {
        #{$vertical-steps}__media {
            &-after {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                bottom: 20px;
                background-color: $blue-color;
                border-radius: 100%;
                @media (max-width: 991px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    
    
    &.media-style-2 {
        #{$vertical-steps}__media {
            &-after {
                content: "";
                display: inline-block;
                background-image: url("../img/vertical-steps-circle-2.svg");
                background-size: cover;
                width: 90px;
                height: 90px;
                position: absolute;
                left: -20px;
                bottom: -40px;
                border-radius: 100%;
                @media (max-width: 991px) {
                    width: 60px;
                    height: 60px;
                    left: -10px;
                    bottom: -25px;
                }
            }
        }
    }
    
    &__media {
        position: relative;
        width: 530px;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 991px) {
            margin: auto;
        }
        
        &-before {
            content: "";
            display: inline-block;
            background-image: url("../img/vertical-steps-circle.svg");
            background-size: cover;
            width: 96px;
            height: 92px;
            position: absolute;
            right: -25px;
            top: -40px;
            
            @media (max-width: 991px) {
                width: 53px;
                height: 51px;
                right: 0;
                top: -20px;
            }
        }
        
    }
    
    &__image {
        border-radius: 10px;
        box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
        @extend %wh-100;
        max-height: 700px;
        object-fit: cover;
    }
    
    &__title {
        color: $blue-color-secondary;
        opacity: 0.5;
        transition: all 300ms;
    }
    
    &__desc {
        opacity: 0.5;
        font-family: $font-family-figtree;
        font-size: rem(18);
        color: $grey-color;
        transition: all 300ms;
        @media (max-width: 991px) {
            font-size: rem(16);
        }
    }
    
    &__list {
        max-width: 600px;
        margin-top: 20px;
        padding-left: 20px;
        
        &-mobile {
            display: none;
            
            @media (max-width: 991px) {
                display: block;
                padding-left: 0;
                margin-top: 60px;
                max-width: none;
                margin-left: -50px;
                margin-right: -50px;
            }
    
            @media (max-width: 767px) {
                margin-left: -30px;
                margin-right: -30px;
            }
        }
        
        &-desktop {
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    
    &__list-item {
        position: relative;
        padding-left: 95px;
        padding-bottom: 20px;
        
        @media (max-width: 991px) {
            padding-top: 20px;
            padding-left: 0;
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            width: 430px;
            text-align: center;
        }
        
        &:not(:last-child) {
            &:before {
                content: "";
                width: 1px;
                height: 100%;
                background-color: $blue-color;
                position: absolute;
                top: 0;
                left: 30px;
                z-index: 1;
                
                @media (max-width: 991px) {
                    display: none;
                }
            }
            &:after {
                content: "";
                width: 1px;
                height: 0;
                background-color: $green-color;
                position: absolute;
                top: 42px;
                left: 30px;
                z-index: 2;
                transition: height .1s linear;
    
                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
        
        &.swiper-slide-active,
        &.active {
            &:after {
                transition: height 14.5s linear;
                height: calc(100% - 55px);
            }
            
            .number::after {
                opacity: 1;
            }
            
            .number span {
                opacity: 1;
            }
            
            #{$vertical-steps}__title,
            #{$vertical-steps}__desc {
                opacity: 1;
            }
        }
        
        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            transform: translateY(-25%);
            color: $blue-color;
            font-size: 28px;
            font-weight: 600;
            font-family: $font-family-figtree;
            z-index: 3;
            
            @media (max-width: 991px) {
                position: static;
            }
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                background-color: $white-color;
                border-radius: 100%;
                z-index: -1;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                border: 1px dashed $green-color;
                box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
                border-radius: 100%;
                opacity: 0.5;
                transition: all 300ms;
            }
            
            span {
                opacity: 0.5;
                transition: all 300ms;
            }
        }
    }
    
    &__button {
        padding-left: 95px;
        @media (max-width: 991px) {
            padding-left: 0;
            max-width: 600px;
            margin: auto;
        }
        
        .lex-btn {
            min-width: 315px;
            justify-content: center;
            @media (max-width: 991px) {
                min-width: auto;
                width: 100%;
            }
        }
    }
    
    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        transform: translateY(-25%);
        color: $blue-color;
        font-size: 28px;
        font-weight: 600;
        font-family: $font-family-figtree;
        @media (max-width: 991px) {
            position: static;
        }
    
        @media (min-width: 768px) and (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            background-color: $white-color;
            border-radius: 100%;
            z-index: -1;
        }
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            border: 1px dashed $green-color;
            box-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
            border-radius: 100%;
            opacity: 0.5;
            transition: all 300ms;
        }
        
        span {
            opacity: 0.5;
            transition: all 300ms;
        }
    }
    
    .swiper-pagination-bullet {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $blue-color;
        opacity: 0.5;
        transition: all 300ms;
    }
    
    .swiper-pagination-bullet-active {
        background-color: $blue-color-secondary;
        opacity: 1;
    }
}

.vertical-steps-slider-pagination {
    width: min(100% - 60px, 430px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 5px;
    padding: 0 0 50px;
    margin-top: 30px;
    
    .swiper-pagination-bullet {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $blue-color;
        opacity: .5;
        transition: all 300ms;
        
        &-active {
            background-color: $blue-color-secondary !important;
            opacity: 1 !important;
        }
    }
}
