.lex-video-and-content {
  @media (max-width: 991px) {
    margin: 80px 0;
    overflow: hidden;
  }
  &__photo {
    object-fit: cover;
    border-radius: 50%;
    @extend %wh-100;
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: -40px auto;
    margin-right: inherit;
    @media (max-width: 991px) {
      margin: 80px auto;
    }
    &-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: calc(100% - 79px);
      height: calc(100% - 79px);
      max-width: 518px;
      max-height: 518px;
    }
    .lex-main-page-header__image-border {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 27%;
        right: 2%;
        width: 5%;
        height: 5%;
        background-color: $aqua;
        border-radius: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 10%;
        right: 81%;
        width: 5%;
        height: 5%;
        background-color: $green-color;
        border-radius: 100%;
      }
      &-circle {
        background-color: $blue-color;
        border-radius: 50%;
        position: absolute;
        top: 95%;
        right: 63%;
        width: 5%;
        height: 5%;
      }
    }
  }
  &__title {
    @extend %h3;
    line-height: 135%;
    font-weight: 600;
    color: $blue-color-brand;
    margin-top: 20px;
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
  &__btn {
    .lex-btn {
      min-width: 215px;
      justify-content: center;
    }
  }
  &__content {
    height: 100%;
    display: flex;
    &-wrap {
      max-width: 490px;
      margin: auto;
      margin-left: 62px;
      @media (max-width: 1100px) {
        margin-left: 30px;
      }
      @media (max-width: 991px) {
        max-width: inherit;
        margin: 0 15px;
      }
    }
  }
  &__wrap {
    background-color: $box-shadow-blue-light;
    border-radius: 30px;
    box-shadow: $drop-shadow;
    margin: 135px 0;
    @media (max-width: 991px) {
      padding: 80px 0 0;
      border-radius: 30px 0 0 30px;
      margin: 0;
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}