@import "variables";

%h {
    clear: both;
    margin: 0 0 15px;
    //padding: 20px 0 0;
    line-height: 1.25;
    font-weight: 700;
    font-family: $font-family-figtree;
    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-size: rem(60);
    font-weight: 600;
    line-height: 68.4px;
    letter-spacing: -0.5px;
    font-family: $font-family-figtree;
    @media (max-width: 991px) {
        font-size: rem(36);
        line-height: 132%;
    }
    @media (max-width: 767px) {
        font-size: rem(34);
    }
}
%h2 {
    font-size: rem(55);
    font-weight: 600;
    @media (max-width: 991px) {
        font-size: rem(45);
    }
    @media (max-width: 767px) {
        font-size: rem(42);
    }
    @media (max-width: 350px) {
        font-size: rem(36);
    }
}
%h3 {
    font-size: rem(36);
    font-family: $font-family-figtree;
    letter-spacing: -0.5px;
    line-height: 68.4px;
    @media (max-width: 991px) {
        font-size: rem(34);
    }
}
%h4 {
    font-size: rem(28);
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.5px;
    font-family: $font-family-figtree;
}
%h5 {
    font-size: rem(24);
}
%h6 {
    font-size: rem(20);
    font-family: $font-family-figtree;
    font-weight: 600;
}

%text-60 {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-family: $font-family-figtree;
    @media (max-width: 991px) {
        font-size: rem(34);
    }
}

%text-36 {
    line-height: 48.6px;
    letter-spacing: -0.5px;
    font-size: 36px;
    font-family: $font-family-figtree;
    @media (max-width: 991px) {
        font-size: rem(34);
    }
}

%text-22 {
    line-height: 29.7px;
    letter-spacing: -0.5px;
    font-size: 22px;
    font-family: $font-family-figtree;
    @media (max-width: 991px) {
        font-size: rem(16);
    }
}

%text-22-v2 {
    line-height: 29.7px;
    letter-spacing: -0.5px;
    font-size: 22px;
    font-family: $font-family-figtree;
    font-weight: 600;
}

%text-18 {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.2px;
    font-family: $font-family-figtree;
    color: $grey-color;
    @media (max-width: 991px) {
        font-size: rem(16);
    }
}
%text-18-v2 {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: $font-family-figtree;
}
%text-18-sans {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    font-family: $font-family-open-sans;
    color: $grey-color;
}
%text-16 {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -2%;
    font-weight: 600;
    font-family: $font-family-figtree;
}

%wh-100 {
    width: 100%;
    height: 100%;
}