@import "variables";

.lex-footer {
    background-color: $white-color;
    &__top {
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 1px solid $background-grey;
        align-items: center;
        @media (max-width: 767px) {
            align-items: flex-start;
        }
    }
    &__bottom {
        justify-content: center;
        padding-top: 40px;
        @media (min-width: 767px) and (max-width: 991px) {
            justify-content: space-between;
        }
        .menu {
            a {
                font-weight: 400;
                position: relative;
                @media (max-width: 350px) {
                    font-size: 14px;
                }
                &:after {
                    position: absolute;
                    content: "";
                    bottom: -10px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: $green-color;
                    transition: width .3s ease-in-out;
                }
                &:hover {
                    text-decoration: none;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        &.mobile {
            padding: 0;
            @media (min-width: 767px) {
                display: none!important;
            }
        }
        @media (max-width: 767px) {
            padding: 40px 0 0 0;
        }
        
        
        .second-footer-menu {
            margin-left: -70px;
        }
    }
    &__menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        &.menu li {
            //a {
            //  &:hover {
            //    text-decoration: none;
            //  }
            //}
            @media (max-width: 820px) {
                margin: 0 10px;
            }
            @media (max-width: 767px) {
                margin: 0 auto 28px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 767px) {
            display: block;
        }
        &.second-footer-menu {
            @media (min-width: 767px) and (max-width: 991px) {
                order: 1;
            }
            &.mobile {
                @media (max-width: 767px) {
                    display: none!important;
                }
            }
        }
    }
    &__subscribe-btn {
        transition: all 0.4s;
        letter-spacing: 0.43px;
        background-color: $blue-color;
        border: 1px solid $blue-color;
        box-shadow: 5px 9px 16px rgba($black-color, 0.1);
        color: $white-color;
        padding: 9px 26px;
        border-radius: 100px;
        font-family: $font-family-figtree;
        font-weight: 600;
        line-height: 19.2px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            top: -1px;
            left: -1px;
            z-index: -1;
            border-radius: inherit;
            transform-origin: center;
            background-color: $blue-color-secondary;
            transform: scale(0);
            transition: transform .6s cubic-bezier(.19,1,.22,1);
        }
        &:hover,
        &:focus,
        &:active {
            color: $white-color;
            text-decoration: none;
            &:before {
                transform: scale(1);
            }
        }
        span {
            display: flex;
        }
        img {
            margin-left: 5px;
        }


    }
    &__btns {
        &.mobile {
            @media (max-width: 991px) {
                display: none!important;
            }
        }
        &.mobile-bottom {
            @media (min-width: 991px) {
                display: none!important;
            }
            @media (max-width: 767px) {
                width: 330px;
            }
        }
    }
    &__wrap {
        padding: 70px 0;
        @media (max-width: 767px) {
            padding: 80px 0;
        }
    }
    &__two-menus {
        @media (min-width: 767px) and (max-width: 991px) {
            &.lex-footer__menu {
                display: flex;
            }
        }
        @media (max-width: 767px) {
            display: contents;
        }
    }
}
.first-footer-menu {
    li {
        a {
            position: relative;
            @media (max-width: 350px) {
                font-size: 14px;
            }
            &:after {
                position: absolute;
                content: "";
                bottom: -10px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $green-color;
                transition: width .3s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
