@import "variables";

.main-wrapper {
    &_padding-top {
        padding-top: 108px;
    }
}

.lex-btn {
    text-decoration: none;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    width: fit-content;
    text-align: center;
    font-family: $font-family-figtree;
    transition: all 0.4s;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.43px;
    display: flex;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }

    &_primary {
        position: relative;
        line-height: 22px;
        background-color: $blue-color;
        border: 1px solid $blue-color;
        color: $white-color;
        padding: 18px 15px;
        border-radius: 200px;
        z-index: 1;
        text-decoration: none;
        
        &:before {
            content: "";
            position: absolute;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            top: -1px;
            left: -1px;
            z-index: -1;
            border-radius: inherit;
            transform-origin: center;
            background-color: $blue-color-secondary;
            transform: scale(0);
            transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover,
        &:focus,
        &:active {
            color: $white-color;
            &:before {
                transform: scale(1);
            }
        }
    }

    &_secondary {
        line-height: 22px;
        background-color: $white-color;
        border: 1px solid $green-color;
        color: $blue-color-secondary;
        padding: 18px 15px;
        border-radius: 200px;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: $blue-color-secondary;
            border: 1px solid $blue-color-secondary;
            .icon-blue {
                transition: all 0.4s;
                border: 1px solid white;
            }
        }
    }

    &_icon {
        &:hover,
        &:focus,
        &:active {
            svg {
                animation: 500ms ease 0s pulsate-fwd;
                #circle1 {
                    fill: $light-green-color;
                    stroke: $light-green-color;
                }
                #circle2 {
                    fill: $white-color;
                    stroke: $light-green-color;
                }
            }
        }
        .icon {
            width: 21px;
            margin-left: 10px;
            display: block;
            position: relative;
            flex-shrink: 0;
            height: 21px;
            border: 1px solid $white-color;
            border-radius: 50px;
        }
        svg {
            margin-left: 10px;
        }
    }

    &_icon-blue {
        .icon-blue {
            width: 21px;
            margin-left: 10px;
            display: block;
            position: relative;
            flex-shrink: 0;
            height: 21px;
            border: 1px solid $blue-color-secondary;
            border-radius: 50px;
            transition: all 0.4s;
        }
    }
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: 768px) {
        max-width: 1380px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    &--small {
        max-width: 1140px;
        
        @media (min-width: 1700px) {
            max-width: 1470px;
        }
    }
}
.menu {
    a {
        color: $blue-color-secondary;
        font-family: $font-family-figtree;
        line-height: 19.2px;
        letter-spacing: 0.2px;
        font-weight: 600;
    }
    li {
        margin: 0 15px;
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.lex-card {
    box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
    border-radius: 10px;
    border-bottom: 14.5px solid $aqua;
    transition: 0.4s;
    background-color: $white-color;
}
.modal-open {
    overflow: hidden;
}
.lex-content {
    max-width: 800px;
    margin: auto;
    h2, h3, h4, h5, h6 {
        color: $blue-color-secondary;
        line-height: 135%;
        margin-bottom: 20px;
    }
    p {
        @extend %text-18;
    }
    a {
        text-decoration: underline;
        color: $blue-color-secondary;
    }
    &__text {
        @extend %text-18;
    }
    &__block {
        margin: 40px 0 50px;
        &-title {
            color: $blue-color-secondary;
        }
        &-text {
            @extend %text-18-sans;
        }
    }
}

.select2 {
    &.select2-container {
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            top: 15px;
            right: 10px;
            width: 15px;
            height: 15px;
            display: block;
            background-image: url('../img/arrow-down.svg');
            background-size: cover;
            z-index: 2;
        }
        .selection {
            .select2-selection {
                height: 43px;
                border: 1px solid rgba($blue-color, 0.1);
                box-shadow: 1px 5px 15px -4px rgb(32 32 32 / 10%);
                border-radius: 8px;
                font-family: $font-family-figtree;
                &__rendered {
                    line-height: 44px;
                    padding-left: 10px;
                }
                &__arrow {
                    top: 15px;
                    right: 10px;
                    b {
                        border: none;
                    }
                    &:before {
                        content: "";
                        background-image: url('../img/icon-vector.svg');
                        width: 14px;
                        height: 14px;
                        background-size: cover;
                        display: block;
                    }
                }
                &--multiple {
                    .select2-selection__rendered {
                        line-height: 36px;
                        margin-left: 7px;
                        padding-left: 0;
                    }
                    .select2-selection__choice {
                        line-height: 1.6;
                        background-color: $blue-color;
                        color: $white-color;
                    }
                }
            }
            .select2-search {
                display: none;
            }
        }
    }
}

.lex-img-w-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &--small {
        .lex-img-w-border__image-wrapper {
            padding: 5px;
        }
    }
    &__image-border {
        position: absolute;
        border: 1px dashed $green-color;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        animation: rotate 120s linear infinite;
    }
    &__image-wrapper {
        padding: 30px;
    }
    &__photo {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}
.select2-container--open .select2-dropdown {
    top: 32px;
    @media (max-width: 767px) {
        top: 47px;
    }
}
.lex-loader {
    display: block;
    position: relative;
    width: 100%;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: block;
        width: 30px;
        height: 30px;
        border: 0.2em solid $blue-color;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: 1s loader linear infinite;
    }
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lex-section-default-element {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;

    &:nth-child(2) {
        padding-top: 80px;
    }

    &.alignfull {
        width: 100%;
    }

    &.wp-block-heading {
        color: $blue-color-secondary;
        line-height: 135%;
    }

    a {
        text-decoration: underline;
        color: $blue-color-secondary;
        &:hover {
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    &.lex-section-default-element {
        max-width: 800px;
        padding: 0 15px;
        width: calc(100% - 40px);
        margin: 0 auto 15px;
    }
}

p.lex-section-default-element,
li.lex-section-default-element {
    @extend %text-18;
    letter-spacing: .2px;
    color: $grey-color;
    line-height: 150%;
    margin-bottom: 20px;
}

p.lex-section-default-element,
table.lex-section-default-element,
ol.lex-section-default-element,
ul.lex-section-default-element,
figure.lex-section-default-element {
    max-width: 800px;
    padding: 0 15px;
}

figure.lex-section-default-element + div.lex-section-default-element {
    margin: 0 auto !important;
    max-width: 800px;
    padding: 0 15px;
}

p.lex-section-default-element {
    margin-bottom: 15px;
}
.error404 {
    .lex-section-default-element {
        width: inherit;
        @media (max-width: 991px) {
            padding: 80px 0 0;
        }
    }
    .lex-secondary-page-header {
        padding: 120px 0;
        .lex-btn {
            text-decoration: none;
        }
    }
}
