@import "variables";

.lex-header {
    $header: &;
    
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    
    &.scroll-active {
        background-color: $white-color;
        
        #{$header} {
            &__wrap {
                height: 78px;
            }
            
            &__burger {
                top: 15px;
            }
    
            &__menu {
                &.menu li {
                    a {
                        &:after {
                            bottom: 22px;
                        }
                    }
                }
            }
        }
    }
    
    &__logo {
        @media screen and (max-width: 991px) {
            padding-left: 30px;
        }
        
        img {
            @media screen and (max-width: 991px) {
                max-width: 97px;
            }
        }
    }
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        transition: height .3s;
        height: 108px;
    }
    
    &__menu {
        margin: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 100%;
        
        .menu-item-has-children {
            position: relative;
            
            @media screen and (min-width: 991px) {
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                
            }
        }
        
        .sub-menu {
            display: none;
            margin: 0;
            list-style-type: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 155px;
            background-color: $white-color;
            border: 1px solid rgba(2, 77, 145, 0.1);
            border-top: none;
            border-radius: 0 0 8px 8px;
            padding: 30px 10px 30px 20px;
            
            li {
                padding: 0 !important;
                margin-bottom: 25px;
                margin-left: 0;
                
                @media (max-width: 991px) {
                    padding-bottom: 30px !important;
                    border: none !important;
                    &:last-child {
                        padding-bottom: 0 !important;
                    }
                }
                
                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none !important;
                }
            }
            
            &.active {
                display: block;
            }
        }
        
        &.menu {
            li {
                height: 100%;
        
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    position: relative;
                    line-height: 1.2;
                    height: 100%;
                }
        
                @media screen and (max-width: 1100px) and (min-width: 991px) {
                    margin: 0 12px;
                }
                @media screen and (max-width: 991px) {
                    padding: 28px;
                    border-bottom: 1px solid $background-grey;
                    margin: 0;
                    &:first-child {
                        border-top: 1px solid $background-grey;
                    }
                    a {
                        font-size: 18px;
                        line-height: 150%;
                    }
                }
            }
    
           > li {
                > a {
                    &:after {
                        position: absolute;
                        content: '';
                        bottom: 35px;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: $green-color;
                        transition: all 0.3s ease-in-out;
                    }
            
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
        &-hidden {
            display: none;
        }
        
        @media screen and (max-width: 991px) {
            .submenu-toggler {
                position: absolute;
                right: 15px;
                top: 25px;
                display: block;
                width: 39px;
                height: 25px;
                margin-left: auto;
                margin-right: 0;
                background-image: url(../img/icon-vector.svg);
                background-repeat: no-repeat;
                background-position: center;
                
                &.opened {
                    transform: rotate(180deg);
                }
            }
            
        }
    }
    
    &__info {
        display: flex;
        position: relative;
        align-items: center;
        align-self: stretch;
        
        @media screen and (max-width: 991px) {
            display: none;
            width: 100%;
        }
    }
    
    &__btns {
        display: flex;
        
        .lex-btn {
            margin-left: 20px;
            padding: 12px 50px;
            
            &_primary {
                box-shadow: $box-shadow-blue;
            }
            
            @media screen and (min-width: 991px) {
                svg {
                    display: none;
                }
            }
            @media screen and (max-width: 1100px) and (min-width: 991px) {
                padding: 12px 30px;
            }
        }
    }
    
    &__burger {
        display: none;
        position: relative;
        border: 0;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        text-decoration: none;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        z-index: 200;
        background-color: transparent;
        transition: top .3s;
        
        &.active {
            .lex-header__burger-wrap {
                span {
                    width: 21px;
                    height: 4px;
    
                    &:nth-child(1),
                    &:nth-child(4) {
                        transform-origin: 2px 50%;
                    }
    
                    &:nth-child(2),
                    &:nth-child(3) {
                        transform-origin: calc(100% - 2px) 50%;
                    }
                }
            }
        }
        
        @media screen and (max-width: 991px) {
            display: block;
            position: absolute;
            top: 30px;
            right: 15px;
        }
        
        &-wrap {
            position: relative;
            height: 100%;
            
            span {
                display: block;
                width: 9px;
                height: 9px;
                position: absolute;
                transition: all .4s;
                border-radius: 5px;
                background-color: $blue-color-secondary;
                
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    transform-origin: 4px 50%;
                    transform: rotate(45deg);
                }
                
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                    transform-origin: calc(100% - 4px) 50%;
                    transform: rotate(-45deg);
                }
                
                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                    transform-origin: calc(100% - 4px) 50%;
                    transform: rotate(45deg);
                }
                
                &:nth-child(4) {
                    bottom: 0;
                    left: 0;
                    transform-origin: 4px 50%;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    
    .container {
        @media screen and (max-width: 991px) {
            padding: 0;
        }
    }
    
    @media screen and (max-width: 991px) {
        &.active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            background: $white-color;
            z-index: 9;
            
            #{$header}__info {
                display: block;
                width: 100%;
                padding-top: 24px;
                
                #{$header}__menu {
                    display: block;
                    width: 100%;
                }
                
                #{$header}__btns {
                    display: block;
                    margin-top: 30px;
                    
                    .lex-btn {
                        margin: 0 20px 20px;
                        max-width: 330px;
                        width: inherit;
                        display: block;
                    }
                }
            }
            
            .lex-header__wrap {
                display: block;
            }
            
            .container {
                padding: 0;
            }
        }
    }
}
