@use "sass:math";

@import "mixins/functions";
@import "mixins/mixins";

// Base custom typography style set
$font-family-open-sans: 'Open Sans';
$font-family-figtree: 'Figtree';
$font-family-poppins: 'Poppins';



// Base typography style
$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.5; // Sets the base line height
$base-font-family: $font-family-open-sans; // Sets the base font family

$background-primary: linear-gradient(281.35deg, #024D91 -32.29%, #222744 120.82%);
$background-secondary: linear-gradient(177.48deg, rgba(79, 176, 198, 0) -5.95%, rgba(79, 176, 198, 0.07) 33.07%);
$background-light-green: linear-gradient(0deg, rgb(129, 176, 65) 0%, rgb(215, 228, 6) 100%);



$background-grey: rgba(102, 102, 102, 0.15);
$background-blue: rgba(79, 176, 198, 0.07);
$drop-shadow: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
$box-shadow: 0.660407px 3.30203px 9.9061px -2.64163px rgba(32, 32, 32, 0.1);
$box-shadow-secondary: 1px 5px 15px -4px rgba(32, 32, 32, 0.1);
$box-shadow-third: 0px 0px 20px rgba(0, 0, 0, 0.05);
$box-shadow-blue: (0px 0px 4px rgba(23, 25, 28, 0.05));
$box-shadow-blue-light: rgba(79,176,198,0.07);
$box-shadow-blue: 5px 9px 16px rgba(0, 0, 0, 0.1);


// Colors
$brand-primary: #0f1d2b;
$light-grey-color: #E0E0E0;
$light-grey-color-second: #d3d4da;
$brand-secondary: #fff4ec;
$grey-white-color: #D9D9D9;
$white-color: #ffffff;
$black-color: #000000;
$green-color: #81B041;
$light-green-color: #d7e406;
$red-color: #FF6849;
$aqua: #4FB0C6;
$light-aqua: #95ebff;
$grey-color: #434343;
$light-grey-color: #808080;
$blue-color: #024D91;
$blue-color-secondary: #222744;
$blue-color-brand: #141F41;
$pink: #d63384;




